.h1{
    color: aliceblue;
}
.h2{
    color:aqua;
}
.btn{
    background-color: red;
    padding:10px;
    margin: 10px;
    color:#fff;
    border-radius: 10px;
}
.img{
    height: 500px;
    width: 500px;
    border-radius: 30%;
}